header {
  background-color: #ffffff;
  padding-bottom: 9px;
  border-bottom: #cccccc 2px solid;
}

body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.logo {
  color: white;
  background-color: #4aaaa5;
  text-decoration: none;
  padding: 25px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 36px;
}

ul {
  list-style-type: none;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  float: right;
  padding-right: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  border-top: 7px solid #4aaaa5;
  color: #ffffff;
  background: #666666;
}